@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  background: #000;
  color: #999;
  font-family: "Source Code Pro";
  font-size: 18px;
  text-align: left;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-weight: normal;
  text-align: left;
}

b {
  color: #fff;
}

a {
  color: #bada55;
}

p {
  font-weight: normal;
  max-width: 800px;
  text-align: left;
}

.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin;
  height: 80px;
}

.App-header {
  animation: blink infinite 0.2s linear;
  color: #bada55;
}

@keyframes blink {
  from {color: red; }
  to {color: yellow; }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.camera-container {
  display: flex;
  width: 100%;
}

.camera-feed {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex: 1;
  font-size: 5em;
  height: 50vh;
  justify-content: center;
  position: relative;
}

.camera-feed:before{
  background: rgba(255, 0, 129, 0.3);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.camera-feed.camera-feed-trevor:before {
  background: rgba(1, 132, 0, 0.3);
}

.camera-feed-pepe {
  background-image: url("http://hki-octoprint.futurice.com/webcam/pepe/?action=stream")
}

.camera-feed-trevor{
  background-image: url("http://hki-octoprint.futurice.com/webcam/trevor/?action=stream")
}

@media (max-width: 800px) {
  body {
    font-size: 16px;
  }
  .camera-container{
    height: 100vh;
  }
  .camera-feed {
    font-size: 2em;
  }
}
