@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  background: #000;
  font-family: "Source Code Pro";
  font-size: 18px;
  color: #fff;
  text-align: left;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-weight: normal;
  text-align: left;
}

p {
  font-weight: normal;
  text-align: left;
}
